<form class="flex flex-wrap" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="w-full md:w-1/2 py-3 px-3 bg-blue-100 flex flex-col gap-2">
        <label for="name">
            Name
        </label>

        <input
        class="px-1 py-2 border-amber-300 border-2 rounded-2xl"
        placeholder="Nombre"
        formControlName="name"
        type="text"/>

        @if(form.controls.name.touched && form.controls.name.invalid){
            <small>Name is required.</small>
        }

    </div>

    <div class="w-full md:w-1/2 py-3 px-3 bg-blue-100">
        <label>

            Email

            <input
                formControlName="email"
                type="email">

            @if(form.controls.email.touched && form.controls.email.invalid){

                <small>Invalid email.</small>

            }

        </label>
    </div>

    <div class="w-full py-3 px-3 bg-blue-100">

        <label>

            Age

            <input
                formControlName="age"
                type="number">

            @if(form.controls.age.touched && form.controls.age.invalid){

                <small>Age must be between 18 and 120.</small>

            }

        </label>

    </div>

    <div class="w-full py-3 px-3 bg-blue-100">

        <label>

            Birth date

            <input
                formControlName="birthDate"
                type="date">

            @if(form.controls.birthDate.touched && form.controls.birthDate.invalid){

                <small>Birth date is required.</small>

            }

        </label>
    </div>

    <div class="w-full py-3 px-3 bg-blue-100">

        <button
            type="submit"
            [disabled]="form.invalid">
            Submit
        </button>

    </div>

</form>



