<footer class="footer">
  <div class="container">

    <div>
      <h3>MyApp</h3>
      <p>
        Simple Angular application using Standalone Components.
      </p>
    </div>

    <div>
      <h4>Navigation</h4>

      <a routerLink="/">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/services">Services</a>
      <a routerLink="/contact">Contact</a>
    </div>

    <div>
      <h4>Contact</h4>

      <p>contact@myapp.com</p>
      <p>+51 999 999 999</p>
    </div>

  </div>

  <div class="copyright">
    © 2026 MyApp. All rights reserved.
  </div>
</footer>